
body, html {
	overflow: hidden;
}

#about-text {
	width: 80%;
	max-width: 500px;
	overflow: hidden;
	margin: auto;
	padding:0 30px 0 30px;
	margin-top: 25vh;
	padding-bottom: 10px;
}

#about-text h2 {
	font-family: 'snell_roundhandregular';
	font-size:20pt;
	padding-left: 0;
}

#about-text p, #about-text a {
	font-family: Times New Roman;
	font-style: italic;
	font-size: 18pt;
	line-height: 28px;
	padding: 0;
}