body {
	background-color: #8f70ee;
}


h2 {
	font-family: 'Literaturnaya';
	font-size: 25pt;
	font-style: italic;
	text-align: center;
	color: white;
}

h3 {
	font-family: 'blocusregular';
	text-align: center;
	font-size: 25pt;
	color: white;
}

h4 {
	font-family: 'blocusregular';
	text-align: center;
	font-size: 20pt;
	color: white;
}

p {
	font-family: 'blocusregular';
	font-style: italic;
	font-size: 16pt;
	padding: 7px 0 5px 0;
	color: white;	
}

img {
	width: 100%;
}

a{
	text-decoration: none;
	color: black;
}


#lilith-logo{
	margin-top: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.lilith-text-box {
	width: 500px;
	margin: auto;
	margin-top: 5px;
	text-align: center;
	z-index: 3;
}

.lilith-text-box a {
	color: white;
	font-style: normal;
	font-size: 20pt;
	font-weight: normal;
}

.lilith-text-box a:hover {
	font-family: 'blocusregular';
	font-style: italic;
	font-size: 20pt;
	font-weight: normal;
}

#kate {
	position: absolute;
	width: 300px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#lilith-illu {
	position: absolute;
	width: 340px;
	left: 50px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}


#rose-left {
	position: absolute;
	right: 0;
	margin-top: -80px;
	height: 770px;
	width: auto;
	margin-right: 76%
}

#rose-right {
	position: absolute;
	left: 0;
	height: 770px;
	margin-top: -80px;
	margin-left: 76%;
	width: auto;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



#clothes-rubrik h3{
	position: absolute;
  	left: 0;
  	right: 0;
  	height: auto;
}

#clothes-rubrik #clothes-fire img{
	position: absolute;
  left: 0;
  right: 0;
  margin-top: -20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

#clothes-div {
	margin-top: 100px;
	padding-top: 30px;
}



#clothes-div p {
	margin-left: 15%;
}

#illustration-div {
	margin-top: 150px;
}


div#clothes-div .lilith-image-box {
	margin: auto;
	width: 60%;
	min-width: 300px;
	max-width: 500px;
	margin-top: 10px;
}

div#illustration-div .lilith-image-box {
	margin: auto;
	width: 50%;
	max-width: 450px;
	min-width: 300px;
	margin-top: 10px;
}

/* ---- Mobile ---- */

@media only screen and (max-width: 768px) {

    #rose-left, #rose-right {
    	display: none;
    }
 


