@font-face {
    font-family: 'snell_roundhandregular';
    src: url('fonts/snellroundhand-01-webfont.woff2') format('woff2'),
         url('fonts/snellroundhand-01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #232323;
  margin: 0;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 13pt;
  color: #cc9f6b;
  font-weight: 400;
  margin-bottom:10px;
}

.text-box p{  d
  color: #cc9f6b;
  font-size: 11pt;
  margin-top: 5px;
}

 a{
  padding-left: 5px;
  font-family: 'snell_roundhandregular';
  text-decoration: none;
  color: #cc9f6b;
  font-size: 16pt;
  
}
/*HEADER*/
#header {
  width: 60vw;
  left: 20vw;
  position: fixed;
  top: 10px;
  z-index: 1;
}

a:hover {
  color:blue;
}

#home {
  display: inline-block;
}

#about{
  right: 0;
  text-align: right;
  display: inline-block;
  position: absolute;
}
/*HEADER end*/

.box {
  width: 60vw;
  margin-left: 20vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
}

.text-box {
  display: block;
  width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  resize: vertical;
}

/*IMAGES*/
.img-horizontal {
  width: 45%;
}

.img-vertical {
  width: 65%;
}

.img-box {
  position: absolute;
  top: 50%; /*Centrerar bilden*/
  transform: translateY(-50%);
}

.img-box img {
  float: right;
  margin-right: 35%;
}

.img-box img:hover {
  animation-name: spinner;
  animation-duration: 3.5s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);  }
    to   { -webkit-transform: rotateY(-360deg); }
  }
#about-text{
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

#about-text a, p{
  font-size: 13pt;
  font-family: 'Times New Roman';
  padding-left: 0;
  color: #cc9f6b;
}

.mobile-img {
  display: none;
}

  @media only screen and (min-aspect-ratio: 47/29) { 
}

@media only screen and (max-width: 900px) {
  .box {
    width: 80vw;
    margin-left: 10vw;
  }
#header {
  width: 80vw;
  left: 10vw;
}
}

@media only screen and (max-width: 600px) {
  .box {
    width: 90vw;
    margin-left: 5vw;
  }

  #header {
    width: 90vw;
    left: 5vw;
  }

  .img-box {
    display: none;
  }

  .text-box {
    width: 73%;
    float: left;
    margin-left: 15%;
    display: block;
    flex-direction: none;
    justify-content: none;
    height: auto;
    resize: none;
  }

  .text-box p {
    margin-bottom: 0;
  }

  .mobile-img {
    display: block;

  }

  .mobile-img img{
    width: 70%;
    margin-left: 15%;
  }

.mobile-center {
  position: absolute;
  top: 50%; /*Centrerar bilden*/
  transform: translateY(-50%);
}


