@font-face {
    font-family: 'snell_roundhandregular';
    src: url('fonts/snellroundhand-01-webfont.woff2') format('woff2'),
         url('fonts/snellroundhand-01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  background:#eaeaea;
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none; 
}

#background-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

  #background-img img {
    width: 200%;
  }

/*TYPOGRAPHY*/
h1 {
  font-size: 13pt;
  font-style: italic;
  font-weight: 400;
  margin-bottom:10px;
}

p, a {
  color: #000;
  font-size: 16pt;
  font-family: 'Times New Roman';
  -webkit-user-select: text; 
}

p::-moz-selection { 
  background: #73e55c
  color:white;
}
p::selection { 
  background: #73e55c; 
  color:white;
}

.content-text a {
  text-decoration: underline;
}

.text-box p{ 
  font-size: 11pt;
  margin-top: 5px;
}

/*VIDEO*/
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  /*display: none;*/
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/*HEADER*/
#header {
  width: 60vw;
  left: 20vw;
  position: fixed;
  top: 10px;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
}

#header a, #header p {
  padding-left: 4px;
  font-family: 'snell_roundhandregular';
  text-decoration: none;
  font-size: 16pt;
  margin: 0;
}

#header p {
  padding-right: 40px;
}

#header a:hover, a:hover {
  color:#73e55c;
}

#arrow-left, #arrow-right {
  position: fixed;
  top: 49vh;
  display: block;
}

#arrow-left {
  left: 4vw;
}

#arrow-right {
  right: 4vw;
}

#arrow-right img {
  height: 3vh;
}

#arrow-left img {
  height: 3vh;  transform: rotate(180deg);
}

/*START PAGE*/
.box {
  width: 60vw;
  margin-left: 20vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
}

.text-box {
  width: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  resize: vertical;
}

/*START PAGE IMAGES*/
.img-vertical {
  width: 45%;
}

.img-horizontal {
  width: 65%;
}

.img-box {
  position: absolute;
  top: 50%; /*Centrerar bilden*/
  transform: translateY(-50%);
}

.img-box img {
  float: right;
  margin-right: 35%;
}

.mobile-img {
  display: none;
}

/*ABOUT*/
#about-text{
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

/*CONTENT PAGE*/
.content-box {
  width: 60vw;
  margin-left: 20vw;
  padding: 50px 0 30px 0;
}

.content-box img{
  width: 100%;
  margin-bottom: 20px;
}

.content-text {
  margin:-20px 0 20px 0;
}

.content-two-img-vertical img{
  width: 49%;
}

.rotate90 {
  transform: rotate(90deg);
}

.website img {
  width: 110%;
  margin-left: -5%;
  margin-top: -20px;
}

iframe {
  width: 25vw;
  height: 46vw;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  border: none;
  margin-bottom: 50px;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

@media only screen and (max-width: 900px) {
  .box {width: 80vw; margin-left: 10vw;}
  #header {width: 80vw; left: 10vw;}
  .content-box {width: 80vw; margin-left: 10vw;}
}

@media only screen and (max-width: 600px) {
  body {/*scroll-snap-type: none;*/ overflow: scroll;-webkit-overflow-scrolling: none;}
  .box {width: 90vw; margin-left: 5vw;}
  #header {width: 90vw;left: 5vw;}
  .img-box {display: none;}
  .text-box {
    width: 73%;
    float: left;
    margin-left: 15%;
    display: block;
    flex-direction: none;
    justify-content: none;
    height: auto;
    resize: none;
  }
  .text-box {display: none;}
  .mobile-img {display: block;}
  .mobile-img img{width: 70%;margin-left: 15%;}
  .mobile-center {position: absolute;top: 50%; /*Centrerar bilden*/transform: translateY(-50%);}
  .content-box {width: 90vw; margin-left: 5vw;}
  iframe, #arrow-left, #arrow-right {display: none;}
}

