img{
	width: 100%;
	height: auto;
	margin: auto;
}

h3{
	font-family: 'snell_roundhandregular';
}

.index-container {
  position: relative;
  overflow: hidden;
}

/*-------LILITH START------*/

#lilith-image {
  display: block;
  width: 27%;
  height: auto;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}


#lilith-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px; /*--NÅGOT HAR HÄNT HÄR MEN EJ HITTAT FELET--*/
  width: 27%;
  max-width: 400px;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
}

.index-container:hover #lilith-overlay {
  opacity: 1;
}
/*-------LILITH SLUT------*/

/*-------BRODERI START------*/

#broderi-image {
  display: block;
  height: auto;
  width: 70%;
  max-width: 800px;
  margin-top: 30px;
  opacity: 1;
}


#broderi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  width: 70%;
  max-width: 800px;
  opacity: 0;
  cursor: pointer;
}

.index-container:hover #broderi-overlay {
  opacity: 1;
}

.index-container:hover #broderi-image {
  opacity: 0;
}


/*-------BRODERI SLUT------*/

/*-------PARIS START------*/

#paris-image {
  display: block;
  height: auto;
  width: 45%;
  max-width: 500px;
  margin-top: 30px;
}

#paris-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 7vw;
  color: magenta;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  transform: rotate(340deg);
  width: 100%;
  opacity: 0;
  transition: .5s ;
  cursor: pointer;
  text-align: center;
}

.index-container:hover #paris-overlay {
  opacity: 1;
}


/*-------PARIS SLUT------*/

/*-------BOK START------*/


#book-image {
  display: block;
  width: 50%;
  margin: auto;
  max-width: 650px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

#book-overlay {
  position: absolute;
  top: 71%;
  left: 17%;
  font-size: 6.4vw;
  letter-spacing: -7px;
  color: magenta;
  height: auto;
  transform: rotate(17.2deg);
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
  text-align: center;
}

.index-container:hover #book-overlay {
  opacity: 1;
}


/*-------BOK SLUT------*/

/*-------PERFUME START------*/


#perfume-image {
  display: block;
  width: 31%;
  max-width: 300px;
  left: 0;
  right: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;	
  position: relative;
  overflow: hidden;
}

#perfume-overlay {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 31%;
  max-width: 300px;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
}

.index-container:hover #perfume-overlay {
  opacity: 1;
}
/*-------PERFUME SLUT------*/


/*-------ILLUSTRATION START------*/
#venus-image {
  display: block;
  height: auto;
  width: 70%;
  max-width: 800px;
  margin-top: 30px;

}

#venus-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 7vw;
  color: magenta;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(340deg);
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
  text-align: center;
}

.index-container:hover #venus-overlay {
  opacity: 1;
}
/*-------ILLUSTRATION SLUT------*/


/* ---- Mobile ---- */

@media only screen and (max-width: 768px) {
    body {
    }

